<meta charset="utf-8">
<title>Anysensor</title>
<meta content="width=device-width, initial-scale=1" name="viewport" />

<link rel="stylesheet" id="bootstrap-css" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/adminlte.css">
{{!-- <link rel="stylesheet" href="/css/adminlte.min.css"> --}}

<link rel="icon" href="/images/logo.png" type="image/x-icon" />

{{!-- scripts --}}
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
<script type="text/javascript" src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
<script type="text/javascript" src="/js/justgage/raphael-2.1.4.min.js"></script>
{{!-- <script type="text/javascript" src="/js/justgage/justgage.js"></script> --}}
{{!-- <script type="text/javascript" src="https://code.jscharting.com/latest/jscharting.js"></script> --}}
{{!-- <script type="text/javascript" src="/js/jscharting/jscharting.js"></script> --}}
{{!-- <script type="text/javascript" src="/js/jscharting/modules/types.js"></script> --}}
<script type="text/javascript" src="/js/svgGauge/highlight.pack.js"> </script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{{!-- end scripts --}}


{{!-- In production use the local file instead --}}
<script src="https://kit.fontawesome.com/e69019bf68.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{{!-- Icons MDI --}}
<link rel="stylesheet" href="//cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
{{!-- Maps --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
{{!-- SVG Gauge --}}
<link rel="stylesheet" href="/css/svgGauge/dark.css" />
{{!-- Date Picker --}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />