<div id="zones-list" class="">
    <div class="zone-item">
        <a href="#"><i class="fas fa-plus"></i><span>Add Zone</span></a>
    </div>
    {{!-- <div class="zone-item zone-item-loading">
        <a href="#"><i class="fas fa-spinner"></i><span>Loading current zones</span></a>
    </div> --}}
</div>