<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body class="dashboard-page">

    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-general}}

        {{!-- County Data Fetch --}}

        {{!-- <h1>County: <span class='county-name'></span></h1> --}}

        <div class="small-box-container">
            {{!-- <div class="row"> --}}
            {{!-- <div class="col-lg-3 col-6"> --}}
            <div class="small-box bg-info county-detail box-shadow-5">
                <div class="inner">
                    <h3>{{county}}</h3>
                    <p>County</p>
                </div>
                <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                {{!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> --}}
            </div>
            {{!-- </div> --}}

            {{!-- <div class="col-lg-3 col-6"> --}}
            {{!-- <div class="small-box bg-info box-shadow-5">
                <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div> --}}
            {{!-- </div> --}}

            {{!-- <div class="col-lg-3 col-6"> --}}
            {{!-- <div class="small-box bg-info box-shadow-5"> --}}
            {{!-- <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> --}}
            {{!-- </div> --}}
            {{!-- </div> --}}

            {{!-- <div class="col-lg-3 col-6"> --}}
            {{!-- <div class="small-box bg-info box-shadow-5">
                <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div> --}}
            {{!-- </div> --}}
            {{!-- </div> --}}
        </div>

        <div class="card-container"></div>

    </div>

    <script>

        let countyName = $(".county-detail h3").html()
        let json = ''

        function addSmallBox(label, value, fontAwesome = false) {
            $(".small-box-container").append(`<div class="small-box bg-info county-detail box-shadow-5">
                                                    <div class="inner">
                                                        <h3>`+ value + `</h3>
                                                        <p>`+ label + `</p>
                                                    </div>
                                                </div>`)

            if (fontAwesome) {
                $(".small-box-container .small-box").append(`<div class="icon"><i class="` + fontAwesome + `"></i></div>`)
            }
        }

        const getData = async () => {
            const response = await fetch("https://anysensor.dasstec.ro/api/get-data/" + countyName)
            return response.json()
        }

        (async () => {
            json = await getData();
        })().then(() => {

            $(".card-container").append(`<article class="card height-control">

                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-temperature-high mr-1"></i>
                                            Current Value
                                        </h3>
                                    </div>

                                    <div class="card-body">
                                        <div id="gauge"></div>
                                    </div>
                                    
                                </article>`);

            $(".card-container").append(`<article class="card height-control">

                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-temperature-high mr-1"></i>
                                            Timeline Graph
                                        </h3>

                                        <div class="card-tools">
                                            <ul class="pagination pagination-sm">
                                                <li class="page-item"><a href="#" class="page-link">Change Time Interval</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                    

                                    <div class="card-body">
                                        <canvas id="temperature_2"></canvas>
                                        <div id="graph-calendar">
                                            <input type="text" id="dt1">
                                            <input type="text" id="dt2">
                                            <button>Close</button>                  
                                        </div>  
                                    </div>
                                    
                                </article>`);

            if (json[0].error) {

                $(".card-container .card-body").html(json[0].message)

                // County name append
                // addSmallBox('county',api_data[0].county,fontAwesome='fas fa-map-marker-alt')

            } else {

                const api_data = json.slice(1, json.length)

                // console.log(api_data)

                let ylabels = []
                let xlabels = []
                var xValue
                // County name append
                // addSmallBox('county',api_data[0].county,fontAwesome='fas fa-map-marker-alt')

                // Sensors data append


                for (var i = 0; i < api_data.length; i++) {

                    xValue = parseFloat(api_data[i].value).toFixed(2)

                    //if(xValue=='NaN')
                    //    xlabels.push(0)
                    //else
                    xlabels.push(xValue)


                    // When inlux time is 2pm(14) - romanian time is 3pm(15)
                    const hour = parseInt(api_data[i].time.split("T")[1].split(":")[0]) + 1

                    ylabels.push(hour)

                    // console.log(api_data[i].time, hour, xlabels[i], ylabels[i])

                }

                const xlabels_reversed = xlabels.reverse()
                const ylabels_reversed = ylabels.reverse()

                //console.log(xlabels_reversed)
                //console.log(ylabels_reversed)

                // console.log(xlabels, ylabels)

                /* CHART JS */

                var chart2_canvas = document.getElementById("temperature_2").getContext("2d");

                var chart2 = new Chart(chart2_canvas, {
                    type: 'line',
                    data: {
                        labels: ylabels_reversed,
                        datasets: [{
                            label: 'Temperature',
                            data: xlabels_reversed,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        animation: false,
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }

                });

                /* GAUGE */

                var latestValue = xlabels[xlabels.length - 1]
                // console.log(latestValue)

                var g = new JustGage({
                    id: "gauge",
                    value: latestValue,
                    min: -25,
                    max: 50,
                    relativeGaugeSize: true,
                    title: "",
                    label: "",
                });

                /* var opts = {
                    angle: -0.2, // The span of the gauge arc
                    lineWidth: 0.2, // The line thickness
                    radiusScale: 1, // Relative radius
                    pointer: {
                        length: 0.6, // // Relative to gauge radius
                        strokeWidth: 0.035, // The thickness
                        color: '#000000' // Fill color
                    },
                    limitMax: false,     // If false, max value increases automatically if value > maxValue
                    limitMin: false,     // If true, the min value of the gauge will be fixed
                    colorStart: '#6F6EA0',   // Colors
                    colorStop: '#C0C0DB',    // just experiment with them
                    strokeColor: '#EEEEEE',  // to see which ones work best for you
                    generateGradient: true,
                    highDpiSupport: true,     // High resolution support

                };

                var target = document.getElementById('temperature_1'); // your canvas element
                var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                gauge.maxValue = 3000; // set max gauge value
                gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                gauge.animationSpeed = 36; // set animation speed (32 is default value)
                gauge.set(1050); // set actual value */




                /* var chart1_canvas = document.getElementById("temperature_1").getContext("2d");

                var chart1 = new Chart(chart1_canvas, {
                    type: 'doughnut',

                    // The data for our dataset
                    data: {
                        labels: ["January", "February", "March", "April", "May"],
                        datasets: [{
                            label: "My First dataset",
                            backgroundColor: ['rgb(0, 99, 132)', 'green', 'red', 'yellow', 'orange'],
                            borderColor: '#fff',
                            data: [5, 10, 5, 2, 20],
                        }]
                    },
                    options: {
                        animation: false,
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    } 

                }); */

            }
            
        })


    </script>

    {{> scripts}}

</body>

</html>