<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body class="dashboard-page client-username-{{username}}">

    {{!-- Loading Screen --}}
    {{> loader}}
    
    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-general}}

        {{!-- County Data Fetch --}}

        {{!-- <h1>County: <span class='county-name'></span></h1> --}}

        <div class="small-box-container">
            {{!-- <div class="row"> --}}
            {{!-- <div class="col-lg-3 col-6"> --}}
            <div class="small-box bg-info county-detail box-shadow-5">
                <div class="inner">
                    <h3>{{county}}</h3>
                    <p>County</p>
                </div>
                <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                {{!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> --}}
            </div>
            {{!-- </div> --}}
        </div>

        <div class="card-container"></div>

        <notification></notification>

        {{> notification}}

    </div>

    <script>
      var sensorId = JSON.parse('{{{json sensors}}}');
    </script>

    {{> scripts}}

</body>

</html>