<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body class="dashboard-page">

    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-dashboard}}

        {{!-- County Data Fetch --}}

        <h1>County: <span class='county-name'>{{county}}</span></h1>

        <div class="card-container">

            <script>

                let countyName = $(".county-name").html()
                let json = ''

                console.log("county:",countyName)

                const test = async () => {
                    const response = await fetch("http://anysensor.dasstec.ro/api/get-data/" + countyName)
                    return response.json()
                }

                (async () => {
                    json = await test();
                    $(".card-container").append(`<article class="card">

                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-temperature-high mr-1"></i>
                                            Temperatura
                                        </h3>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills ml-auto">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#graph1" data-toggle="tab">Graph 1</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#graph2" data-toggle="tab">Graph 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="tab-content p-0">
                                            <div class="chart tab-pane active" id="graph1" style="position: relative; height: 300px;">

                                                <canvas id="temperature_1"></canvas>
                                            </div>
                                            <div class="chart tab-pane" id="graph2" style="position: relative; height: 300px;">
                                                <canvas id="temperature_1"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </article>`);

                })().then(() => {

                    let ylabels = []
                    let xlabels = []
                    {{!-- console.log(json[0]) --}}
                    for (var i = 0; i < json.length; i++) {
                        xlabels.push(json[i].value)
                        ylabels.push(json[i].time)
                    }

                    {{!-- console.log(xlabels) --}}
                    {{!-- console.log(ylabels) --}}

                    var ctx = document.getElementById("temperature_1").getContext("2d");
                    var myNewChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ylabels,
                            datasets: [{
                                label: 'Average Temperature',
                                data: xlabels,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        }
                    });

                })
            </script>



            {{!-- <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div> --}}

            {{!-- <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div> --}}
        </div>

        {{!-- <div class="container wrapper">
            <div class="row">
                <div class="container">
                    <h1>Hello {{ username }}!</h1>
                    <p>You have <b>{{user_role}}</b> account.</p>
                </div>
            </div>
            <div class="row">
                <div class="container wrapper">
                    <div class="alert alert-info" role="alert">
                        This is the <a href="/dashboard" class="alert-link">dashboard</a> page.
                    </div>
                    <div class="alert alert-info" role="alert">
                        Any <b>basic</b> account can see this box.
                    </div>
                    {{#if user_role_is_superadmin }}
                    <div class="alert alert-info" role="alert">
                        Only <b>superadmin</b> account can see this box.
                    </div>
                    {{/if}}
                </div>
            </div>

        </div> --}}
    </div>

    {{!-- <h1>Hi, {{ username }}</h1>
    <input type="button" name="logout" value="Log Out" class="fadeIn first" onclick="location.href='/logout';"> --}}

    {{> scripts}}

</body>

</html>