<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body class="dashboard-page">

    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-general}}

        {{!-- County Data Fetch --}}

        {{!-- <h1>County: <span class='county-name'>{{county}}</span></h1> --}}

        <div class="small-box-container">
            {{!-- <div class="row"> --}}
            {{!-- <div class="col-lg-3 col-6"> --}}
            <div class="small-box bg-info county-detail box-shadow-5">
                <div class="inner">
                    <h3>{{county}}</h3>

                    <p>County</p>
                </div>
                <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            {{!-- </div> --}}

            {{!-- <div class="col-lg-3 col-6"> --}}
            {{!-- <div class="small-box bg-info box-shadow-5">
                <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div> --}}
            {{!-- </div> --}}

            {{!-- <div class="col-lg-3 col-6"> --}}
            {{!-- <div class="small-box bg-info box-shadow-5"> --}}
                {{!-- <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> --}}
                {{!-- </div> --}}
           {{!-- </div> --}}

            {{!-- <div class="col-lg-3 col-6"> --}}
            {{!-- <div class="small-box bg-info box-shadow-5">
                <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div> --}}
            {{!-- </div> --}}
            {{!-- </div> --}}
        </div>

        <div class="card-container"></div>

    </div>

    <script>

        let countyName = $(".county-detail h3").html()
        let json = ''

        setInterval(function () {
            const getData = async () => {
                const response = await fetch("https://anysensor.dasstec.ro/api/get-data/" + countyName)
                return response.json()
            }

            (async () => {
                json = await getData();
                $(".card-container").html(`<article class="card">

                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-temperature-high mr-1"></i>
                                            Temperatura
                                        </h3>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills ml-auto">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#graph1" data-toggle="tab">Graph 1</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#graph2" data-toggle="tab">Graph 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="tab-content p-0">
                                            <div class="chart tab-pane active" id="graph1" style="position: relative; height: 300px;">

                                                <canvas id="temperature_1"></canvas>
                                            </div>
                                            <div class="chart tab-pane" id="graph2" style="position: relative; height: 300px;">
                                                <canvas id="temperature_1"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </article>`);
                    

            })().then(() => {

                let ylabels = []
                let xlabels = []
                for (var i = 0; i < json.length; i++) {
                    xlabels.push(json[i].type)
                    $(".county-detail h3").html(json[i].county)
                    ylabels.push("Current value: " + json[i].type+"\r\n"+"Time: "+json[i].time)
                }

                var ctx = document.getElementById("temperature_1").getContext("2d");
                var myNewChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ylabels,
                        datasets: [{
                            label: 'Average Temperature',
                            data: xlabels,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        animation: false
                    }

                });

            })
        }, 1000)
    </script>

    {{> scripts}}

</body>

</html>