<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body class="dashboard-page">

    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-dashboard}}

        <div class="card-container">
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
            <div class="card-wrapper">
                {{> cards/temperature}}
            </div>
        </div>

        {{!-- <div class="container wrapper">
            <div class="row">
                <div class="container">
                    <h1>Hello {{ username }}!</h1>
                    <p>You have <b>{{user_role}}</b> account.</p>
                </div>
            </div>
            <div class="row">
                <div class="container wrapper">
                    <div class="alert alert-info" role="alert">
                        This is the <a href="/dashboard" class="alert-link">dashboard</a> page.
                    </div>
                    <div class="alert alert-info" role="alert">
                        Any <b>basic</b> account can see this box.
                    </div>
                    {{#if user_role_is_superadmin }}
                    <div class="alert alert-info" role="alert">
                        Only <b>superadmin</b> account can see this box.
                    </div>
                    {{/if}}
                </div>
            </div>

        </div> --}}
    </div>

    {{!-- <h1>Hi, {{ username }}</h1>
    <input type="button" name="logout" value="Log Out" class="fadeIn first" onclick="location.href='/logout';"> --}}

    {{> scripts}}

</body>

</html>