<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body>

     {{!-- {{> navbar-general}} --}}

     <div class="loader"></div>

    <div class="container wrapper">
        <div class="alert alert-info" role="alert">
            This is the <a href="/" class="alert-link">homepage</a>.
        </div>
        <div class="alert alert-info" role="alert">
           Anyone can see this box.
        </div>
    </div>
    
    {{!-- <button type="button"  onclick="location.href='/dashboard';">Go to our dashboard</button> --}}

    {{> scripts}}

</body>

</html>