<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body class="map-page">

    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-general}}

        {{!-- Zones List --}}
        {{> mapzones}}



        {{!-- Map --}}
        <div class="container wrapper">
            {{> ro}}
        </div>

    </div>

    {{> scripts}}

    <script src="/js/map.js"></script>
    
</body>

</html>