<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body class="scale-page">

    {{!-- Loading Screen --}}
    {{> loader}}

    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-general}}

        {{!-- Zones List --}}
        {{!-- {{> mapzones}} --}}

        {{!-- Romanian Map SVG --}}
        {{!-- <div class="container wrapper">
            {{> ro}}
        </div> --}}

        <div class="small-box-container">
            <div class="small-box bg-info scale-info">
                <div class="inner">
                    <h3>0g</h3>
                    <p>Live Weight</p>
                </div>
                <div class="icon">
                    <i class="fas fa-balance-scale"></i>
                </div>
            </div>
        </div>

        {{!-- Map --}}
        <div class="table-wrapper">

            <div class="searchBar">
                <i class="fas fa-search"></i>
                <input type="text" id="scaleInput" onkeyup="scaleInput()" placeholder="Search for barcodes..">
            </div>
            
            <table class="table" id="scaleTable">

                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Scale ID</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>

                <tbody>
                    {{!-- Data appended with scale.js --}}
                </tbody>

            </table>
        </div>

    </div>
    
    {{> scripts}}

</body>

</html>