<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body class="scanner-page">

    {{!-- Loading Screen --}}
    {{> loader}}

    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-general}}

        <div class="small-box-container">
            <div class="small-box bg-info scanner-info">
                <div class="inner">
                    <h3>0</h3>
                    <p>Packages</p>
                </div>
                <div class="icon">
                    <i class="fas fa-box-open"></i>
                </div>
            </div>
        </div>

        {{!-- Table barcodes --}}
        <div class="table-wrapper">

            <div class="searchBar">
                <i class="fas fa-search"></i>
                <input type="text" id="scannerInput" onkeyup="scannerInput()" placeholder="Search for barcodes..">
            </div>

            <table class="table" id="scannerTable">

                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>

                <tbody>
                    {{!-- Data appended with scale.js --}}
                </tbody>

            </table>
        </div>

        <notification></notification>

    </div>

    {{> scripts}}

</body>

</html>