<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
    <script>
        document.title = "SETTINGS | Anysensor"
    </script>
</head>

<body class="settings-page">

    {{!-- Loading Screen --}}
    {{> loader}}

    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-general}}

        {{!-- <div class="small-box-container">
            <div class="small-box bg-info county-detail box-shadow-5">
                <div class="inner">
                    <h3></h3>
                    <p>Sensor</p>
                </div>
                <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
            </div>
        </div> --}}

        <div class="settings-container">

            {{!-- Create admins --}}
            <div class='admin-settings'>
                <div class='inner-settings'>
                    {{!-- List of admins and zone --}}
                    <div class='admin-list'>
                        <div class='top-container'><i class="fas fa-users"></i> <span><b>Company</b> Team</span></div>
                        <div class='mid-container'>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- appended via settings.js --}}
                                </tbody>
                            </table>
                        </div>
                        <div class='lower-container'>
                            {{!-- Buton create admin --}}
                            <div class='admin-buttons'>
                                <button type="button" class="btn btn-primary create-admin">
                                    <i class="fal fa-user-plus"></i>
                                    <span>Create admin</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    {{!-- Modal Create Admin --}}
                    <div class='admin-modal'>
                        <div class="modal modal-admin" id="create-admin" aria-labelledby="create-admin-label"
                            aria-hidden="true" tabindex="-1" role="dialog">
                            <div class="modal-dialog fadeInModal modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id='create-admin-label'>Create admin</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form action='/api/create-admin' method='GET' id="form-create-admin">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="name" name="name"
                                                    placeholder="Name">
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" id="username" name="username"
                                                    placeholder="Username">
                                            </div>

                                            <div class="form-group">
                                                <input type="email" class="form-control" id="email" name="email"
                                                    placeholder="Email">
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" name="company"
                                                    placeholder="Company" readonly value="Company">
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" id="password" name="password"
                                                    placeholder='Password'>
                                            </div>

                                            {{!-- <div class="form-group hidden">

                                                <label>Zones</label>

                                                <div class="form-zones-container">

                                                </div>

                                            </div> --}}
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            aria-label="Close">Close</button>
                                        <button type="submit" value="submit" form="form-create-admin"
                                            class="btn btn-primary">Add new user</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- End Modal Create Admin --}}
                </div>
            </div>

            {{!-- My zones --}}
            <div class='zone-settings'>
                <div class='inner-settings'>
                    <div class='zone-tab'>
                        <div class='top-container'><i class="fas fa-users"></i> <span><b>Company</b> Zones</span></div>
                        <div class='mid-container'>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Location</th>
                                        <th scope="col">Map</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- appended via settings.js --}}
                                </tbody>
                            </table>
                        </div>
                        <div class='lower-container'>
                            {{!-- Buton zone access --}}
                            {{!-- <div class='zone-buttons'>
                                <button type="button" class="btn btn-primary edit-zone-access">
                                    <i class="fal fa-unlock"></i>
                                    <span>Location access</span>
                                </button>
                            </div> --}}
                        </div>
                    </div>

                    {{!-- Modal form --}}

                </div>
            </div>

            {{!-- Report --}}
            <div class='report-settings'>
                <div class='inner-settings'>
                    <div class='reports-list'>
                        <div class='top-container'><i class="fas fa-users"></i> <span><b>Company</b> Reports</span>
                        </div>
                        <div class='mid-container'>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Location</th>
                                        <th scope="col">Sensors</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- appended via settings.js --}}
                                </tbody>
                            </table>
                            <div class='input-dates'>
                                    <input type="date" name="start-date">
                                    <input type="date" name="end-date">
                                </div>
                        </div>
                        <div class='lower-container'>
                            {{!-- Buton create report --}}
                            <div class='report-buttons'>
                                <button type="button" class="btn btn-primary create-report">
                                    <i class="fas fa-file-download"></i>
                                    <span>Create report</span>
                                </button>

                                <button type="button" class="btn btn-primary create-quick-report">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>Last month report</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <notification></notification>

        {{> notification}}

    </div>

    {{!-- <script>
        var sensorId = JSON.parse('{{{json sensors}}}');
    </script> --}}

    {{> scripts}}

</body>

</html>