<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {{> head}}
</head>

<body class="dashboard-page">

    <!-- Main Sidebar Container -->
    {{> aside}}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <div class="main-overlay hidden-overlay"></div>

        {{!-- Main Navbar --}}
        {{> navbar-general}}

        {{!-- County Data Fetch --}}

        <div class="small-box-container">
            {{!-- <div class="row"> --}}
                {{!-- <div class="col-lg-4 col-6"> --}}
                    <div class="small-box bg-info sensors-counter box-shadow-5">
                        <div class="inner">
                            <h3></h3>

                            <p>Sensors</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-satellite-dish"></i>
                        </div>
                        {{!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> --}}
                    </div>
                {{!-- </div> --}}

                {{!-- <div class="col-lg-4 col-6"> --}}
                    <div class="small-box bg-success sensors-counter-connected">
                        <div class="inner">
                            <h3>#</h3>

                            <p>Connected</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-lock-open"></i>
                        </div>
                        {{!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> --}}
                    </div>
                {{!-- </div> --}}

                {{!-- <div class="col-lg-4 col-6"> --}}
                    <div class="small-box bg-warning sensors-counter-not-connected">
                        <div class="inner">
                            <h3>#</h3>

                            <p>Not Connected</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-lock"></i>
                        </div>
                        {{!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> --}}
                    </div>
                {{!-- </div> --}}
            {{!-- </div> --}}
        </div>

        <div class="card-container"></div>

        {{> notification}}

        <script>

            let json = ''

            const getData = async () => {
                const response = await fetch("/api/manage-sensors/")
                return response.json()
            }

            (async () => {
                json = await getData();

                {{!-- console.log(json.flag) --}}
                {{!-- console.log(json.result) --}}

                if (json.flag == 0) {
                    $("#main").append(`<div class="card-container"><div class="row"><article class="card">No sensors for you - work in progress</article></div></div>`);
                } else if (json.flag == -1) {
                    $("#main").append(`<div class="card-container"><div class="row"><article class="card">All sensors for you - work in progress</article></div></div>`);
                } else {
                    $(".sensors-counter h3").append(json.flag)

                    for (var i = 0; i < json.flag; i++) {

                        $("#main .card-container").append(`
                                        <div class="card card-primary m-10 sensor-card">
                                            <div class="card-header">
                                                <h3 class="card-title">Sensor Settings</h3>
                                            </div>
                                            <form role="form" class="update-container" action="/api/manage-sensors/update" method="POST" autocomplete="off">
                                                 <div class="card-body">
                                                     <div class="row">
                                                         <div class="card-fields col-12">
                                                            <label for="id">Sensor ID</label>
                                                            <input type="text" class="form-control" id='id' name="id" value="`+ json.result[i].sensorId + `" readonly>
                                                        </div>
                                                        <div class="card-fields col-12">
                                                            <label for="name">Sensor Name</label>
                                                            <input class="form-control" type="text" id='name' name="name" value="`+ json.result[i].sensorName + `">
                                                        </div>
                                                        <div class="card-fields col-12">
                                                            <label for="type">Sensor Type</label>
                                                            <input class="form-control" type="text" id='type' name="type" value="`+ json.result[i].sensorType + `" readonly>
                                                        </div>
                                                        <div class="card-fields col-12">
                                                            <label for="county">County</label>
                                                            <input class="form-control" type="text" id='county' name="county" value="`+ json.result[i].county + `">
                                                        </div>
                                                        <div class="card-fields col-12">
                                                            <label for="city">City</label>
                                                            <input class="form-control" type="text" id='city' name="city" value="`+ json.result[i].city + `">
                                                        </div>
                                                        <div class="card-fields col-12">
                                                            <label for="street">Street</label>
                                                            <input class="form-control" type="text" id='street' name="street" value="`+ json.result[i].street + `">
                                                        </div>
                                                        <div class="card-fields col-12">
                                                            <button type="submit" class="btn btn-primary" name="update" value="Update">Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    `)
                    }
                }

            })()
        </script>

    </div>


    {{> scripts}}

</body>

</html>